header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--ColorBackground);
  z-index: 10;
}
.header {
  max-width: var(--WebWidth);

  height: 7rem;
  padding: 1.6rem;
  margin: 0 auto;

  display: flex;
  align-items: center;

  h1 {
    margin-right: auto;
    display: flex;
  }
  .link-btn {
    margin-left: auto;
  }
}

.content-nav .nav-list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-list li {
  position: relative;
  transition: all 0.3s;

  padding: 0 1.4rem;
  text-align: center;

  &::before {
    transition: all 0.3s;

    width: 100%;
    height: 0.4rem;
    content: '';
    position: absolute;
    top: -2.4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--ColorPrimary);
  }
}
.nav-list .active {
  color: var(--ColorPrimary);

  &::before {
    transform: translate(-50%, 50%);
  }
}
