header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--ColorBackground);
  z-index: 10;
}
.header {
  max-width: var(--WebWidth);

  height: 7rem;
  padding: 1.6rem;
  margin: 0 auto;

  display: flex;
  align-items: center;

  h1 {
    margin-right: auto;
    display: flex;
  }
  .link-btn {
    margin-left: auto;
  }
}

.content-nav .nav-list {
  display: flex;
  align-items: center;
  gap: 4rem;
}
