.header {
  position: sticky;
  height: 7rem;
  z-index: 10;

  h1 a {
    display: flex;
  }

  .header-menu-list {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    button {
      display: block;
    }
  }

  .btn-previous {
    &.active + .service-list {
      display: block;
    }
  }

  .logo-svg {
    .path-weniv {
      fill: var(--ColorPrimary);
    }

    .path-notebook {
      fill: var(--ColorGrayLv4);
    }
  }

  @media (max-width: 780px) {
    height: 5.6rem;

    .header-menu-list {
      gap: 2rem;
    }
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.service-list {
  display: none;
  top: calc(4.2rem + 0.4rem);
  left: 50%;
  transform: translateX(-50%);
}

.fixed-header {
  position: fixed;
  width: 100%;
  background-color: var(--ColorBackground);
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: var(--ColorGrayLv2);
}
