#intro,
#guide,
#feature {
  scroll-margin-top: 7rem;
}
#intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: var(--ColorBackground);
  position: relative;
  z-index: 10;
}

.banner {
  width: 100%;
  height: 100vh;
  min-height: 100rem;
  background: var(--ColorActivation) url('../assets/banner.webp') no-repeat
    center bottom / cover;
  text-align: center;

  .main-txt {
    margin: 9.2rem auto 1.2rem;
  }

  .sub-txt {
    margin-bottom: 3.2rem;
  }

  @include tablet {
    width: 100%;
    height: 70rem;
    min-height: 70rem;
    background: var(--ColorActivation) url('../assets/banner.webp') no-repeat
      center bottom / 98rem;
  }

  @include mobile {
    width: 100%;
    height: 44rem;
    min-height: 44rem;
    background: var(--ColorActivation) url('../assets/banner.webp') no-repeat
      center bottom / 52rem;

    .main-txt {
      margin: 3.6rem auto 1.2rem;
    }
    .newline {
      display: block;
    }
  }
}

.target-cont {
  padding: 12rem 0;
  width: 100%;
  max-width: $break-web;
  display: flex;
  justify-content: space-between;
  padding: 12rem 2rem;

  // gap: 14.8rem;
  .sub-txt {
    margin-bottom: 1.6rem;
  }

  .main-txt .light {
    font-weight: 500;
    white-space: nowrap;
    word-break: keep-all;
  }

  @include tablet {
    flex-direction: column;
    gap: 3.2rem;
    padding: 8rem 4rem;
  }

  @include mobile {
    padding: 5.2rem 2.4rem;
  }
}

.target-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.6rem;
  margin-top: 1.2rem;

  li {
    white-space: nowrap;
    word-break: keep-all;
    background-color: var(--ColorPrimary);
    color: var(--ColorBackground);
    padding: 1.6rem 2.4rem;
    border-radius: 2rem 0.2rem 2rem 2rem;
    width: fit-content;

    @include mobile {
      white-space: wrap;
      word-break: word-break;
    }
  }
}

#guide {
  background-color: var(--ColorActivation);
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: var(--EffectShadow);
  position: relative;
  z-index: 10;
  .main-txt {
    margin-bottom: 1.6rem;
  }
  & > .sub-txt {
    margin-bottom: 6rem;
    font-weight: 600;
    color: var(--ColorPrimary);

    @include mobile {
      margin-bottom: 4rem;
    }
  }

  @include mobile {
    padding: 5.2rem 2.4rem;
  }
}

.lecture-cont {
  width: 100%;
  margin: 6rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;

  .sub-txt {
    font-weight: 600;
    color: var(--ColorPrimary);
  }

  .thumb-cont {
    width: 80%;
    max-width: 59rem;
    margin-top: 2rem;
    position: relative;

    &::before {
      z-index: -1;
      content: '';
      width: 95%;
      height: 50%;
      background-color: var(--ColorGrayLv3);
      border-radius: 1rem;
      position: absolute;
      left: 50%;
      top: -0.8rem;
      transform: translateX(-50%);
    }
    &::after {
      position: absolute;
      bottom: 2.4rem;
      right: 2.4rem;
      content: '동영상 8개';
      color: var(--ColorBackground);
      padding: 0.6rem;
      padding-left: 4rem;
      border-radius: 0.4rem;
      background: url('../assets/icon/icon-list.svg') no-repeat left 0.6rem
        center / 2.4rem var(--ColorGrayLv4);
      box-shadow: var(--EffectShadow);
    }
  }

  .thumb-img {
    border-radius: 1.6rem;
    border: 1px solid var(--ColorBackground);
  }
}

.guide-list {
  list-style-type: none;
  counter-reset: list-counter;
  color: var(--ColorSurface);
  display: flex;
  flex-direction: column;
  gap: 10.4rem;

  li {
    position: relative;

    &:before {
      content: '(' counter(list-counter) ')';
      counter-increment: list-counter;
      font-size: 2.4rem;
      line-height: 3.2rem;
      font-weight: 500;

      @include mobile {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }
  }

  li + li::after {
    content: '';
    width: 4rem;
    height: 4rem;
    @include mask-image(var(--ColorPrimary), '../assets/icon/icon-down.svg');
    position: absolute;
    top: -3.2rem;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}

.guide-list {
  .link-btn {
    background-color: var(--ColorBackground);
    color: var(--ColorSurface);
    display: block;
    width: fit-content;
    margin: 2.4rem auto 0;
  }
  .guide-item {
    display: inline;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 500;

    @include mobile {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }

  .sub-txt {
    margin: 2rem auto;
  }

  .filename {
    width: fit-content;
    margin: auto;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    color: var(--ColorBackground);
    background-color: var(--ColorSurface);
    border: 1px solid var(--ColorGrayLv2);

    font-size: 1.4rem;
    font-family: $font-code;
    line-height: 1.8rem;
  }

  img {
    margin-top: 3.2rem;
    width: 100%;
    max-width: 59rem;
    border-radius: 1.6rem;
    box-shadow: var(--EffectShadow);
  }
}

#feature {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;

  .main-txt {
    text-align: center;
    margin: auto;
  }

  .sub-txt {
    margin: 1.6rem auto 5.2rem;
    color: var(--ColorPrimary);
    font-weight: 600;
  }

  img {
    display: none;
  }

  @include tablet {
    padding: 8rem 4rem;
  }
  @include mobile {
    padding: 5.2rem 2.4rem;

    .sub-txt {
      margin: 1.6rem auto 4rem;
    }
  }
}

.feature-list {
  display: flex;
  padding: 2rem 2rem 5.2rem;
  width: 100%;
  max-width: $break-web;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 3.2rem;
  justify-content: stretch;

  &::-webkit-scrollbar {
    height: 0.8rem;

    &-thumb {
      background-color: var(--ColorGrayLv4);
      border-radius: 0.8rem;
    }
    &-track {
      background-color: var(--ColorGrayLv2);
      border-radius: 0.8rem;
    }
  }
}

.feature-list li {
  flex: 1;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  min-width: 49rem;
  min-height: 100%;

  padding: 4.4rem 4rem;
  position: relative;
  overflow: hidden;

  @include tablet {
    min-width: 36rem;
  }

  @include mobile {
    min-width: 27rem;

    .description {
      word-break: break-all;
    }
  }

  .tag {
    font-weight: 600;
    color: var(--ColorBackground);
    background-color: var(--ColorGrayLv4);
    padding: 0 0.4rem;
  }

  .description {
    margin: 2rem 0 3.8rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  img {
    width: 100%;
    height: 30rem;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid var(--ColorGrayLv2);
    background-color: var(--ColorActivation);
  }
}

#link-cont {
  padding: 8rem;
  background-color: var(--ColorPrimary);
  color: var(--ColorBackground);
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-txt {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
  }
  .sub-txt {
    margin: 1.6rem auto 2.4rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .link-btn {
    background-color: var(--ColorBackground);
    color: var(--ColorSurface);
  }

  @include mobile {
    padding: 5.2rem 0;
    .main-txt {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }
}

.sponsor-btn {
  padding: 1.1rem 2rem 1.1rem 1.6rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
  border: 1px solid var(--ColorGrayLv2);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.6rem;
  position: relative;

  &::before {
    content: '';
    width: 2rem;
    height: 2rem;
    @include mask-image(var(--ColorPrimary), '../assets/icon/icon-heart.svg');
  }

  &:hover {
    background-color: var(--ColorGrayLv1);
  }
}
header .sponsor-btn {
  @include mobile {
    display: none;
  }
}

.sponsor-cont {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding: 8rem 4rem;
  }
  @include mobile {
    padding: 2.4rem;
  }

  .sub-txt {
    margin: 1.6rem auto 6rem;
    @include mobile {
      margin: 1.6rem auto 3.2rem;
    }
  }
}

.sponsor-card {
  margin: 3.2rem 0;
  padding: 2.4rem;
  background-color: var(--ColorGrayLv1);
  border-radius: 1.6rem;
  max-width: 59rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  .sponsor-profile {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }
  .text-cont {
    .intro {
      font-weight: 600;
    }
    .corp {
      margin: 1.6rem 0 0.8rem;
      font-weight: 700;
      font-size: 1.4rem;
      color: var(--ColorGrayLv4);
    }
    .descript {
      font-size: 1.5rem;
      color: var(--ColorGrayLv4);
    }
  }
}
