@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  background: none; }

button:disabled {
  cursor: inherit; }

img {
  display: block;
  max-width: 100%; }

* {
  box-sizing: border-box; }

:root,
:root[color-theme='light'] {
  --ColorPrimary: #2f6ff2;
  --ColorBackground: #ffffff;
  --ColorSurface: #121314;
  --ColorGrayLv1: #f3f5fa;
  --ColorGrayLv2: #d9dbe0;
  --ColorGrayLv3: #8d9299;
  --ColorGrayLv4: #47494d;
  --ColorError: #ff3440;
  --ColorLowError: #ffc533;
  --ColorActivation: #dee8ff;
  --ColorCodePurple: #964dd1;
  --ColorCodePink: #c93864;
  --ColorCodeBlue: #2e5dd6;
  --ColorCodeGreen: #328026;
  --ColorCodeOrange: #ed7200;
  --EffectShadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
  --WebWidth: 1190px;
  --TabletWidth: 834px;
  --MobileWidth: 390px; }

:root[color-theme='dark'] {
  --ColorPrimary: #3075ff;
  --ColorBackground: #1f2123;
  --ColorSurface: #ffffff;
  --ColorGrayLv1: #121314;
  --ColorGrayLv2: #595f66;
  --ColorGrayLv3: #d9dbe0;
  --ColorGrayLv4: #f3f5fa;
  --ColorError: #fc7377;
  --ColorLowError: #ffe187;
  --ColorActivation: #2b3444;
  --ColorCodePurple: #c893fd;
  --ColorCodePink: #ed4779;
  --ColorCodeBlue: #618dff;
  --ColorCodeGreen: #50c140;
  --ColorCodeOrange: #ffa52a;
  --EffectShadow: 0px 8px 12px 0px rgba(18, 18, 18, 0.2),
    0px 8px 12px 0px rgba(18, 18, 18, 0.2); }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Pretendard";
  color: var(--ColorSurface);
  background: var(--ColorBackground);
  letter-spacing: -0.01em;
  min-height: 100vh; }

button {
  letter-spacing: -0.01em; }

.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0; }

.sl-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all; }

.max-width {
  width: var(--WebWidth);
  margin: 0 auto;
  max-width: calc(100% - 6rem); }
  @media (max-width: 550px) {
    .max-width {
      max-width: calc(100% - 3.2rem); } }

/* 다크 모드 버튼 */
.btn-dark-mode {
  position: relative;
  width: 5.6rem;
  height: 3.2rem;
  background: var(--ColorPrimary);
  border-radius: 3.2rem; }
  .btn-dark-mode::after {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 2.2rem;
    height: 2.2rem;
    background: var(--ColorGrayLv1) url(../assets/icon/icon-light-mode.svg) no-repeat center/1.2rem 1.2rem;
    border-radius: 50%;
    transition: all 0.4s; }
  .btn-dark-mode.active::after {
    left: 2.9rem;
    background: var(--ColorGrayLv1) url(../assets/icon/icon-dark-mode.svg) no-repeat center/1.2rem 1.2rem; }

/* file download 버튼 */
.btn-download {
  width: 2rem;
  height: 2rem;
  background: var(--ColorGrayLv3);
  -webkit-mask-image: url("../assets/icon/icon-file-download.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../assets/icon/icon-file-download.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center; }
  @media (hover: hover) and (pointer: fine) {
    .btn-download:hover {
      background: var(--ColorSurface); } }

/* code download 버튼 */
.btn-code-download {
  width: 2rem;
  height: 2rem;
  background: var(--ColorGrayLv3);
  -webkit-mask-image: url("../assets/icon/icon-code-download.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: url("../assets/icon/icon-code-download.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center; }
  @media (hover: hover) and (pointer: fine) {
    .btn-code-download:hover {
      background: var(--ColorSurface); } }

/* copy 버튼 */
.btn-file-modal {
  width: 2rem;
  height: 2rem;
  display: flex; }
  .btn-file-modal::after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../assets/icon/icon-file-upload.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../assets/icon/icon-file-upload.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  @media (hover: hover) and (pointer: fine) {
    .btn-file-modal:hover::after {
      background: var(--ColorSurface); } }

/* copy 버튼 */
.btn-copy {
  width: 2rem;
  height: 2rem;
  display: flex; }
  .btn-copy::after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../assets/icon/icon-copy.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../assets/icon/icon-copy.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  @media (hover: hover) and (pointer: fine) {
    .btn-copy:hover::after {
      background: var(--ColorSurface); } }

/* code reset 버튼 */
.btn-reset {
  width: 2rem;
  height: 2rem;
  display: flex; }
  .btn-reset::after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../assets/icon/icon-reset.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../assets/icon/icon-reset.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  @media (hover: hover) and (pointer: fine) {
    .btn-reset:hover::after {
      background: var(--ColorSurface); } }

/* notice close 버튼 */
.btn-close {
  width: 1.6rem;
  height: 1.6rem;
  display: flex; }
  .btn-close::after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--ColorPrimary);
    -webkit-mask-image: url("../assets/icon/icon-X.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../assets/icon/icon-X.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }

/* kebab 버튼 */
.btn-kebab {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 1rem;
  padding: 0.7rem;
  position: relative; }
  .btn-kebab:hover, .btn-kebab.active {
    background: var(--ColorActivation); }
  .btn-kebab::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 2.8rem;
    height: 2.8rem;
    background-color: var(--ColorGrayLv3);
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../assets/icon/icon-kebab.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../assets/icon/icon-kebab.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }

/* btn-link */
.btn-link {
  display: flex;
  width: 3.2rem;
  height: 3.2rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.8rem;
  border: 1px solid var(--ColorGrayLv2);
  background: var(--ColorGrayLv1); }
  .btn-link::after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    background: var(--ColorGrayLv3);
    -webkit-mask-image: url("../assets/icon/icon-Home.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../assets/icon/icon-Home.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center; }
  .btn-link.link-inflearn::after {
    -webkit-mask-image: url(../assets/icon/icon-infrean.svg);
    mask-image: url(../assets/icon/icon-infrean.svg); }
  .btn-link.link-youtube::after {
    -webkit-mask-image: url(../assets/icon/icon-youtube.svg);
    mask-image: url(../assets/icon/icon-youtube.svg); }
  .btn-link.link-naver::after {
    -webkit-mask-image: url(../assets/icon/icon-naver.svg);
    mask-image: url(../assets/icon/icon-naver.svg); }
  .btn-link.link-insta::after {
    -webkit-mask-image: url(../assets/icon/icon-insta.svg);
    mask-image: url(../assets/icon/icon-insta.svg); }

.dropdown {
  position: relative; }

.dropdown-list {
  position: absolute;
  width: 18rem;
  padding: 0.8rem 0;
  border-radius: 1rem;
  border: 1px solid var(--ColorGrayLv2);
  background: var(--ColorBackground);
  box-shadow: var(--EffectShadow); }
  .dropdown-list button,
  .dropdown-list a {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    cursor: pointer; }
    .dropdown-list button:active,
    .dropdown-list a:active {
      background: var(--ColorActivation); }
    @media (hover: hover) and (pointer: fine) {
      .dropdown-list button:hover,
      .dropdown-list a:hover {
        background: var(--ColorActivation); } }

/* 툴팁 */
.show-tooltip {
  position: relative; }

.tooltip {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.8rem 1.2rem;
  background: var(--ColorSurface);
  color: var(--ColorBackground);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  border-radius: 0.8rem;
  text-align: center;
  width: max-content;
  max-width: 26rem;
  word-break: break-word;
  z-index: 20;
  animation: fadeIn 0.6s; }
  .tooltip::before {
    content: '';
    position: absolute;
    top: -0.4rem;
    left: 50%;
    width: 0.85rem;
    height: 0.85rem;
    background: inherit;
    border: inherit;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: translateX(-50%) rotate(135deg);
    border-radius: 0px 0px 0px 0.2rem; }

.svg-primary {
  fill: var(--ColorPrimary); }

.svg-graylv4 {
  fill: var(--ColorGrayLv4); }

.link-btn {
  padding: 1.1rem 2rem;
  background-color: var(--ColorPrimary);
  border-radius: 1rem;
  color: var(--ColorBackground);
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500; }

.main-txt {
  font-size: 4rem;
  line-height: 1.4;
  font-weight: 700; }

.sub-txt {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500; }

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--ColorBackground);
  z-index: 10; }

.header {
  max-width: var(--WebWidth);
  height: 7rem;
  padding: 1.6rem;
  margin: 0 auto;
  display: flex;
  align-items: center; }
  .header h1 {
    margin-right: auto;
    display: flex; }
  .header .link-btn {
    margin-left: auto; }

.content-nav .nav-list {
  display: flex;
  align-items: center;
  gap: 4rem; }

.nav-list li {
  position: relative;
  transition: all 0.3s;
  padding: 0 1.4rem;
  text-align: center; }
  .nav-list li::before {
    transition: all 0.3s;
    width: 100%;
    height: 0.4rem;
    content: '';
    position: absolute;
    top: -2.4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--ColorPrimary); }

.nav-list .active {
  color: var(--ColorPrimary); }
  .nav-list .active::before {
    transform: translate(-50%, 50%); }

#intro,
#guide,
#feature {
  margin-top: -7rem;
  padding-top: 7rem; }

main {
  margin-top: -7rem; }

#intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; }

.banner {
  width: 100%;
  height: 100vh;
  background: url("../assets/banner.jpg") no-repeat center center/cover;
  text-align: center; }
  .banner .main-txt {
    margin: 9.2rem auto 1.2rem; }
  .banner .sub-txt {
    margin-bottom: 3.2rem; }

.target-cont {
  padding: 12rem 6rem;
  width: 100%;
  max-width: var(--WebWidth);
  display: flex;
  justify-content: space-between; }
  .target-cont .sub-txt {
    margin-bottom: 1.6rem; }
  .target-cont .main-txt .light {
    font-weight: 500; }

.target-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.6rem;
  margin-top: 1.2rem; }
  .target-list li {
    background-color: var(--ColorPrimary);
    color: var(--ColorBackground);
    padding: 1.6rem 2.4rem;
    border-radius: 2rem 0.2rem 2rem 2rem;
    width: fit-content; }

#guide {
  background-color: var(--ColorActivation);
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: var(--EffectShadow); }
  #guide .main-txt {
    margin-bottom: 1.6rem; }
  #guide > .sub-txt {
    margin-bottom: 6rem;
    font-weight: 600;
    color: var(--ColorPrimary); }

.guide-list {
  list-style-type: none;
  counter-reset: list-counter;
  color: var(--ColorSurface);
  display: flex;
  flex-direction: column;
  gap: 10.4rem; }
  .guide-list li {
    position: relative; }
    .guide-list li:before {
      content: "(" counter(list-counter) ")";
      counter-increment: list-counter;
      font-size: 2.4rem;
      line-height: 3.2rem;
      font-weight: 500; }
  .guide-list li + li::after {
    content: '';
    width: 4rem;
    height: 4rem;
    background: var(--ColorPrimary);
    -webkit-mask-image: url("../assets/icon/icon-down.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url("../assets/icon/icon-down.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center center;
    position: absolute;
    top: -3.2rem;
    left: 50%;
    transform: translate(-50%, -100%); }

.guide-list .link-btn {
  background-color: var(--ColorBackground);
  color: var(--ColorSurface);
  display: block;
  width: fit-content;
  margin: 2.4rem auto 0; }

.guide-list .guide-item {
  display: inline;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 500; }

.guide-list .sub-txt {
  margin: 2rem auto; }

.guide-list .filename {
  width: fit-content;
  margin: auto;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  color: var(--ColorBackground);
  background-color: var(--ColorSurface);
  border: 1px solid var(--ColorGrayLv2);
  font-size: 1.4rem;
  font-family: "Source Code Pro";
  line-height: 1.8rem; }

.guide-list img {
  margin-top: 3.2rem; }

#feature {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #feature .sub-txt {
    margin: 1.6rem auto 5.2rem;
    color: var(--ColorPrimary);
    font-weight: 600; }

.feature-list {
  display: flex;
  padding: 2rem 2rem 5.2rem;
  width: 100%;
  max-width: var(--WebWidth);
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 3.2rem; }
  .feature-list::-webkit-scrollbar {
    height: 0.8rem; }
    .feature-list::-webkit-scrollbar-thumb {
      background-color: var(--ColorGrayLv4);
      border-radius: 0.8rem; }
    .feature-list::-webkit-scrollbar-track {
      background-color: var(--ColorGrayLv2);
      border-radius: 0.8rem; }

.feature-list li {
  flex: 1;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  min-width: 49rem;
  height: 52rem;
  padding: 4.4rem 4rem;
  position: relative;
  overflow: hidden; }
  .feature-list li .tag {
    font-weight: 600;
    color: var(--ColorBackground);
    background-color: var(--ColorGrayLv4);
    padding: 0 0.4rem; }
  .feature-list li .description {
    margin: 2rem 0 3.8rem;
    font-size: 2.4rem;
    line-height: 3.2rem; }
  .feature-list li img {
    width: 100%;
    height: 30rem;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid var(--ColorGrayLv2);
    background-color: var(--ColorActivation); }

#link-cont {
  padding: 8rem;
  background-color: var(--ColorPrimary);
  color: var(--ColorBackground);
  display: flex;
  flex-direction: column;
  align-items: center; }
  #link-cont .main-txt {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600; }
  #link-cont .sub-txt {
    margin: 1.6rem auto 2.4rem;
    font-size: 1.6rem;
    line-height: 2.2rem; }
  #link-cont .link-btn {
    background-color: var(--ColorBackground);
    color: var(--ColorSurface); }

.footer {
  padding: 6rem 0;
  background: var(--ColorGrayLv1);
  margin-top: auto; }
  .footer .logo-svg .path-weniv,
  .footer .logo-svg .path-notebook {
    fill: var(--ColorGrayLv3); }
  @media (max-width: 780px) {
    .footer {
      padding: 4rem 0; } }

.footer-content {
  position: relative;
  display: flex;
  flex-direction: column; }

.footer-top {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  gap: 1.6rem;
  order: 1; }
  .footer-top h2 a {
    display: flex; }
  .footer-top .copyright {
    color: var(--ColorGrayLv3);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    padding-bottom: 0.4rem; }
  @media (max-width: 780px) {
    .footer-top {
      flex-direction: column;
      align-items: center;
      margin-bottom: 1.2rem; }
      .footer-top .copyright {
        padding: 0;
        font-size: 1.2rem;
        line-height: 1.6rem; } }

.weniv-info {
  order: 3;
  margin-top: 1.8rem; }
  .weniv-info .info-toggle-btn {
    display: none;
    align-items: center;
    gap: 0.4rem;
    margin: 0 auto;
    color: var(--ColorGrayLv4);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    text-align: center; }
    .weniv-info .info-toggle-btn::after {
      content: '';
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      background: var(--ColorGrayLv4);
      -webkit-mask-image: url("../assets/icon/icon-down.svg");
      -webkit-mask-size: 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      mask-image: url("../assets/icon/icon-down.svg");
      mask-size: 100%;
      mask-repeat: no-repeat;
      mask-position: center center; }
  .weniv-info dl {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--ColorGrayLv4);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    gap: 0.1rem 0.7rem; }
    .weniv-info dl .sort {
      display: flex;
      align-items: center;
      gap: 0.7rem; }
    .weniv-info dl .data-line {
      display: flex;
      align-items: center;
      gap: 0.7rem; }
      .weniv-info dl .data-line::after {
        content: '';
        display: block;
        height: 1.2rem;
        width: 0.1rem;
        background: var(--ColorGrayLv4); }
  @media (max-width: 780px) {
    .weniv-info {
      margin-top: 2.4rem; }
      .weniv-info dl {
        display: none;
        flex-direction: column;
        flex-wrap: nowrap; }
      .weniv-info .info-toggle-btn {
        display: flex; }
        .weniv-info .info-toggle-btn.active {
          margin-bottom: 1.2rem; }
          .weniv-info .info-toggle-btn.active::after {
            -webkit-mask-image: url(../assets/icon/icon-up.svg);
            mask-image: url(../assets/icon/icon-up.svg); }
          .weniv-info .info-toggle-btn.active + dl {
            display: flex; }
      .weniv-info .data-line.data-ceo::after,
      .weniv-info .data-line.data-involved::after {
        display: none; } }

.footer-top,
.weniv-info {
  max-width: calc(100% - 19.2rem - 0.8rem); }
  @media (max-width: 780px) {
    .footer-top,
    .weniv-info {
      max-width: 100%; } }

.link-list {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  order: 2; }
  .link-list a,
  .link-list button {
    display: block; }
  @media (max-width: 780px) {
    .link-list {
      position: static; } }

/*# sourceMappingURL=style.css.map */